.card_arcos_trigonometricos__superior {
  display: inline-block;
  background-color: #000000;
  width: 100%;
  margin-bottom: 1%;
  cursor: pointer;
}

.card_arcos_trigonometricos__superior:hover {
  background-color: #44aa5f;
  color: #000000;
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  transition-duration: 500ms;
  transition-delay: 2ms;
}

.card_arcos_trigonometricos__superior:active {
  background-color: #44665f;
  color: #000000;
}