/*o lydroc functions [96] */

/*f lydroc decoration display classes [45] */

.ly-display-block {
  display: block;
}

.ly-display-contents {
  display: contents;
}

.ly-display-inherit {
  display: inherit;
}

.ly-display-initial {
  display: initial;
}

.ly-display-inline {
  display: inline;
}

.ly-display-inline-block {
  display: inline-block;
}

.ly-display-inline-flex {
  display: inline-flex;
}

.ly-display-inline-grid {
  display: inline-grid;
}

.ly-display-flex {
  display: flex;
}

.ly-display-flow-root {
  display: flow-root;
}

.ly-display-grid {
  display: grid;
}

.ly-display-none {
  display: none;
}

.ly-display-run-in {
  display: run-in;
}

.ly-display-table {
  display: table;
}

.ly-display-table-row {
  display: table-row;
}

.ly-display-table-cell {
  display: table-cell;
}

.ly-display-table-caption {
  display: table-caption;
}

.ly-display-table-row-group {
  display: table-row-group;
}

.ly-display-table-header-group {
  display: table-header-group;
}

.ly-display-table-footer-group {
  display: table-footer-group;
}

.ly-display-table-column-group {
  display: table-column-group;
}

.ly-display-table-column {
  display: table-column;
}

.ly-display-unset {
  display: unset;
}

.ly-display-ruby {
  display: ruby;
}

.ly-display-ruby-base {
  display: ruby-base;
}

.ly-display-ruby-text {
  display: ruby-text;
}

.ly-display-ruby-base-container {
  display: ruby-base-container;
}

.ly-display-ruby-text-container {
  display: ruby-text-container;
}

.ly-display-moz-box {
  display: -moz-box;
}

.ly-display-moz-deck {
  display: -moz-deck;
}

.ly-display-moz-grid {
  display: -moz-grid;
}

.ly-display-moz-grid-group {
  display: -moz-grid-group;
}

.ly-display-moz-grid-line {
  display: -moz-grid-line;
}

.ly-display-moz-groupbox {
  display: -moz-groupbox;
}

.ly-display-moz-inline-box {
  display: -moz-inline-box;
}

.ly-display-moz-inline-grid {
  display: -moz-inline-grid;
}

.ly-display-moz-inline-stack {
  display: -moz-inline-stack;
}

.ly-display-moz-inline-table {
  display: -moz-inline-table;
}

.ly-display-moz-marker {
  display: -moz-marker;
}

.ly-display-moz-popup {
  display: -moz-popup;
}

.ly-display-moz-stack {
  display: -moz-stack;
}

.ly-display-webkit-box {
  display: -webkit-box;
}

.ly-display-webkit-flex {
  display: -webkit-flex;
}

.ly-display-webkit-inline-box {
  display: -webkit-inline-box;
}

.ly-display-webkit-inline-flex {
  display: -webkit-inline-flex;
}

/*f lydroc decoration font display classes [3] */
.ly-font-display-inherit {
  font-display:inherit;
}

.ly-font-display-initial {
  font-display:initial;
}

.ly-font-display-unset {
  font-display:unset;
}

/*f lydroc decoration font weight classes [9] */
.ly-font-weight-100 {
  font-weight: 100;
}

.ly-font-weight-200 {
  font-weight: 200;
}

.ly-font-weight-300 {
  font-weight: 300;
}

.ly-font-weight-400 {
  font-weight: 400;
}

.ly-font-weight-500 {
  font-weight: 500;
}

.ly-font-weight-600 {
  font-weight: 600;
}

.ly-font-weight-700 {
  font-weight: 700;
}

.ly-font-weight-800 {
  font-weight: 800;
}

.ly-font-weight-900 {
  font-weight: 900;
}

/*f lydroc decoration font style classes [0] */

.ly-font-style-inherit {
  font-style: inherit;
}

.ly-font-style-initial {
  font-style: initial;
}

.ly-font-style-unset {
  font-style: unset;
}

.ly-font-style-normal {
  font-style: normal;
}

/*f lydroc decoration background color classes [0] */

/*f lydroc decoration foreground color classes [0] */

