// Configuração eslint
// {
//   "parser": "jsonc",
//   "parserOptions": {
//     "ecmaVersion": 6,
//     "sourceType": "module",
//     "ecmaFeatures": {
//       "jsx": true
//     }
//   },
//   "env": {
//     "es6": true,
//     "node": true,
//     "browser": true
//   },
//   "extends": [
//     "eslint:recommended",
//     "plugin:react/recommended"
//   ],
//   "rules": {
//     "indent": [
//       "error",
//       2
//     ],
//     "linebreak-style": [
//       "error",
//       "unix"
//     ],
//     "quotes": [
//       "error",
//       "single"
//     ],
//     "semi": [
//       "error",
//       "always"
//     ],
//     "no-console": [
//       "error",
//       {
//         "allow": [
//           "warn",
//           "error"
//         ]
//       }
//     ],
//     "no-unused-vars": [
//       "error",
//       {
//         "vars": "all",
//         "args": "after-used",
//         "ignoreRestSiblings": false
//       }
//     ],
//     "no-undef": [
//       "error"
//     ],
//     "no-unreachable": [
//       "error"
//     ],
//     "no-unused-expressions": [
//       "error"
//     ],
//     "no-useless-escape": [
//       "error"
//     ],
//     "no-useless-return": [
//       "error"
//     ],
//     "no-var": [
//       "error"
//     ],
//     "no-with": [
//       "error"
//     ],
//     "no-constant-condition": [
//       "error"
//     ],
//     "no-dupe-keys": [
//       "error"
//     ],
//     "no-duplicate-case": [
//       "error"
//     ],
//     "no-empty": [
//       "error"
//     ],
//     "no-empty-character-class": [
//       "error"
//     ],
//     "no-ex-assign": [
//       "error"
//     ],
//     "no-extra-boolean-cast": [
//       "error"
//     ],
//     "no-extra-semi": [
//       "error"
//     ],
//     "no-func-assign": [
//       "error"
//     ],
//     "no-inner-declarations": [
//       "error"
//     ],
//     "no-invalid-regexp": [
//       "error"
//     ],
//     "no-irregular-whitespace": [
//       "error"
//     ],
//     "no-negated-in-lhs": [
//       "error"
//     ],
//     "no-obj-calls": [
//       "error"
//     ],
//     "no-regex-spaces": [
//       "error"
//     ],
//     "no-sparse-arrays": [
//       "error"
//     ],
//     "no-unexpected-multiline": [
//       "error"
//     ],
//     "no-unreachable": [
//       "error"
//     ],
//     "use-isnan": [
//       "error"
//     ],
//     "valid-jsdoc": [
//       "error"
//     ],
//     "valid-typeof": [
//       "error"
//     ],
//     "no-unused-vars": [
//       "error"
//     ],
//   }
// }
