[submodule "Wertsfy.wiki"]
	path = Wertsfy.wiki
	url = https://github.com/Humba01/Wertsfy.wiki.git
[submodule "Kambler"]
	path = Kambler
	url = https://github.com/Humba01/Kambler.git
[submodule "XGoEmulator"]
	path = XGoEmulator
	url = https://github.com/Humba01/XGoEmulator.git
