.card_conver_physics_carga_eletrica__superior {
  display: inline-block;
  background-color: #000000f4;
  width: 100%;
  margin-bottom: 1%;
}

.card_conver_physics_carga_eletrica__superior___spart {
  display: inline-block;
  background-color: #000000;
  width: 100%;
  margin-bottom: 1%;
  cursor: pointer;
}

.card_conver_physics_carga_eletrica__superior:hover {
  background-color: #2979fff4;
  color: #000000;
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  transition-duration: 500ms;
  transition-delay: 2ms;
}

.card_conver_physics_carga_eletrica__superior:active {
  background-color: #2939fff4;
  color: #000000;
}

.card_conver_physics_carga_eletrica__superior___spart:hover {
  background-color: #2979ff;
  color: #000000;
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  transition-duration: 500ms;
  transition-delay: 2ms;
}

.card_conver_physics_carga_eletrica__superior___spart:active {
  background-color: #2939ff;
  color: #000000;
}