.card_conver_physics_fluxo_magnetico_lista {
  display: inline-block;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
}

.card_conver_physics_fluxo_magnetico_lista:hover {
  color: #000000;
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  transition-duration: 500ms;
  transition-delay: 2ms;
}

.card_conver_physics_fluxo_magnetico_lista:active {
  color: #222222;
}

.card_conver_physics_fluxo_magnetico_item {
  font-family: 'font_Ubuntu_Light';
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-top: 0.5%;
}

.card_conver_physics_fluxo_magnetico_descricao {
  font-family: 'font_Ubuntu_Regular';
  font-size: 22.5px;
  font-weight: 200;
  text-align: center;
  margin-top: 1.4%;
}

.card_conver_physics_fluxo_magnetico_contador {
  font-family: 'font_Ubuntu_Medium';
  font-size: 20px;
  font-weight: 100;
  margin-left: 94.2%;
  display: inline-block;
  background-color: #337751;
  color: #000000;
  margin-top: 0.9%;
}

.card_conver_physics_fluxo_magnetico_contador:hover {
  background-color: #000000;
  color: #ffffff;
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  transition-duration: 500ms;
  transition-delay: 2ms;
}

.card_conver_physics_fluxo_magnetico_contador:active {
  background-color: #222222;
  color: #ffffff;
}
