/* scrollbar.css */
::-webkit-scrollbar {
  position: fixed;
  width: 0.5vw;
  background-color: var(--wertsfy-palette-pantone-2725-c);
}

::-webkit-scrollbar-thumb {
  background-color: var(--wertsfy-palette-pantone-274-c);
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar:horizontal {
  display: none;
}

/* seccao_docs.css */
.hnaplicacao_corpo_seccao_docs {
  display: flex;
  font-family: monospace;
  font-size: 0.8rem;
  flex-wrap: wrap;
  margin: 1.5vw;
}

.hnaplicacao_corpo_seccao_docs__titulo {
  border-bottom: 0.5px solid gray;
  font-size: 1.5rem;
  width: 100%;
  padding-bottom: 0.2vw;
}

/* 
  <p class="hnaplicacao_corpo_seccao_docs__descricao">
    Documentação ainda não disponível.
  </p> 
*/
.hnaplicacao_corpo_seccao_docs__descricao {
  color: rgb(68, 68, 68);
  font-style: italic;
  align-self: flex-start;
  padding: 1vw;
}

.hnaplicacao_corpo_seccao_docs__conteiner_centralizer {
  display: flex;
  font-family: "Exo2-Regular";
  justify-content: center;
  width: 100%;
}

.hnaplicacao_corpo_seccao_docs__conteiner {
  border: 0.5px solid lightgray;
  display: flex;
  flex-direction: column;
  margin: 1.5vw 0;
  width: 96%;
}
