.hnaplicacao_corpo_versoes_descontinuadas {
  display: flex;
  background-color: var(--wertsfy-palette-pantone-276-c);
  color: white;
  padding: 1vw;
  box-sizing: content-box;
  font-family: monospace;
  font-size: 0.8rem;
  flex-wrap: wrap;
  margin: 1.5vw;
  border-radius: 4px;
}

.hnaplicacao_corpo_versoes_descontinuadas h2 {
  border-bottom: 0.5px solid gray;
  font-size: 1.2rem;
  width: 100%;
  padding-bottom: 0.2vw;
}

.hnaplicacao_corpo_versoes_descontinuadas__lista_versoes {
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 1.5vw 0;
  width: 100%;
}

.hnaplicacao_corpo_versoes_descontinuadas__lista_versoes li {
  display: inline-flex;
  justify-content: left;
  padding: 0.5vw;
  margin: 0.4vw 0.2vw;
  font-weight: 600;
  border: 1px solid var(--wertsfy-palette-pantone-3574-c);
}
