/* Conteiner do cabeçalho */

.cabecalho_espaco {
  background-color: #000000;
  border-bottom-width: 14px;
  border-bottom-color: #22222288;
  border-bottom-style: solid;
  margin-bottom: 2.5%;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 98.76vw;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  animation-name: dynamic-end-cab;
  animation-duration: 25000ms;
  animation-delay: 400ms;
  animation-fill-mode: initial;
  animation-iteration-count: infinite;
}

/* Parte de navegação do cabeçalho */
.cabecalho_nav {
  background-color: #000000;
}

/* Imagem e texto do logo do cabeçalho */
.cabecalho_imagem__logo,
.cabecalho_texto__logo {
  font-family: 'font_Galaxy_Experience';
  font-size: 23.755px;
  display: inline-block;
  margin-left: 0.5%;
  padding-right: 0.5%;
  vertical-align: top; 
  text-decoration: none;
  color: #ffffff;
}

/* Imagem do logo do cabeçalho (Blueprints) */
.cabecalho_imagem__logo_b {
  margin-top: 0.5%;
}

/* Imagem do logo do cabeçalho (Community) e Texto do logo do cabeçalho (Development)  */
.cabecalho_imagem__logo_co,
.cabecalho_texto__logo_d {
  padding-top: 0.2%;
}

/* Texto do logo do cabeçalho */
.cabecalho_texto__logo {
  margin-top: 1%;
}

/* Botão de acesso ao menu */
.cabecalho_menu_acesso,
.cabecalho_menu_acesso_img {
  background-color: #000000;
}

.cabecalho_menu_acesso {
  border-radius: 4px;
  padding-top: 0.2%;
  position: absolute;
  left: 94%;
  text-decoration: none;
  outline: none;
  border-top-color: #0099cc;
  border-left-color: #0099cc;
  border-right-color: #0066ff;
  border-bottom-color: #0066ff;
  border-style: solid;
  cursor: pointer;
}

.cabecalho_menu_acesso:hover {
  -webkit-animation-name: border_button_move;
          animation-name: border_button_move;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 2ms;
          animation-delay: 2ms;
  border-top-color: #009977;
  border-left-color: #009977;
  border-right-color: #0066aa;
  border-bottom-color: #0066aa;
  border-style: solid;
}

.cabecalho_menu_acesso:active {
  border-top-color: #0066ff;
  border-left-color: #0066ff;
  border-right-color: #0099cc;
  border-bottom-color: #0099cc;
  border-style: solid;
}

.cabecalho_menu_acesso_img {
  width: 36px;
  height: 36px;
}

/* Barra do menu */
.cabecalho_menu_conteiner {
  background-color: #111111;
  padding-top: 2%;
  margin-top: 1.5%;
  margin-left: -2000%;
  text-decoration: unset;
  width: 110%;
  height: 20px;
  position: fixed;
  opacity: 0;
  z-index: 1;
}

.cabecalho_menu {
  display: inline-block;
  width: 100%;
  z-index: 1;
}

/* Item do menu do cabeçalho */

.cabecalho_menu__item {
  display: inline-block;
  font-family: 'font_Ubuntu_Regular';
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  margin-left: 1.015%;
  margin-bottom: 1%;
  border-bottom: solid 2px #0099dd;
  border-radius: 5px;
  padding-bottom: 3px;
  padding-right: 3px;
  transition: ease-in;
  transition-duration: 400ms;
  text-decoration: unset;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  z-index: 1;
  -moz-text-decoration-line: none;
}

/* Ações de dinamicidade do cabeçalho */

.cabecalho_espaco:hover,
.cabecalho_nav:hover,
.cabecalho_menu:hover,
.cabecalho_menu__item:hover {
  color: #000000;
}

.cabecalho_menu__item:nth-child(1) {
  margin-left: 4.6%;
}

.cabecalho_menu__item:hover:nth-child(1) {
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.cabecalho_menu__item:hover:nth-child(2) {
  background-color: #0000dd;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.cabecalho_menu__item:hover:nth-child(3) {
  background-color: #88dd00;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.cabecalho_menu__item:hover:nth-child(4) {
  background-color: #995522;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.cabecalho_menu__item:hover:nth-child(5) {
  background-color: #00ee99;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.cabecalho_menu__item:hover:nth-child(6) {
  background-color: #006600;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.cabecalho_menu__item:hover:nth-child(7) {
  background-color: #550055;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.cabecalho_menu__item:hover:nth-child(8) {
  background-color: #ff0000;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.cabecalho_menu__item:hover:nth-child(9) {
  background-color: #bb6600;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.cabecalho_menu__item:hover:nth-child(10) {
  background-color: #cc5500;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.cabecalho_menu__item:hover:nth-child(11) {
  background-color: #00ff99;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.cabecalho_menu__item:hover:nth-child(12) {
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.cabecalho_menu__item:hover {
  border-bottom: solid 3px #444444;
}

.cabecalho_menu__item:active {
  border-bottom: solid 3px #888888;
  transition: linear;
  -webkit-animation-name: menu_item_dynamic;
          animation-name: menu_item_dynamic;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-delay: 4ms;
          animation-delay: 4ms;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
