/* Imagem do Logo */

#log_esp {
    margin-left: 4px;
}


/* Texto do Logo */

#txt_esp {
    margin-left: 3px;
}


/* Espaço do texto do título complementar */

.cabecalho_texto_complementar_espaco {
    color: #000000;
    width: 90%;
    margin-left: 4%;
    margin-top: 1.2%;
    text-transform: uppercase;
}


/* Espaço do texto do título complementar (cor 'Calculator') */

.cabecalho_texto_complementar_espaco_c {
    background-color: #88dd00;
    border-bottom-color: #88bb00;
    border-bottom-style: solid;
    border-bottom-width: 7px;
}


/* Espaço do texto do título complementar (cor 'Blueprints') */

.cabecalho_texto_complementar_espaco_b {
    background-color: #0000dd;
    border-bottom-color: #0000bb;
    border-bottom-style: solid;
    border-bottom-width: 7px;
}


/* Espaço do texto do título complementar (cor 'Community') */

.cabecalho_texto_complementar_espaco_co {
    background-color: #995522;
    border-bottom-color: #885522;
    border-bottom-style: solid;
    border-bottom-width: 7px;
}


/* Espaço do texto do título complementar (cor 'Development Studios') */

.cabecalho_texto_complementar_espaco_d {
    background-color: #00ee99;
    border-bottom-color: #00cc99;
    border-bottom-style: solid;
    border-bottom-width: 7px;
}


/* Espaço do texto do título complementar (cor 'Environment') */

.cabecalho_texto_complementar_espaco_e {
    background-color: #006600;
    border-bottom-color: #004400;
    border-bottom-style: solid;
    border-bottom-width: 7px;
}


/* Espaço do texto do título complementar (cor 'Helps') */

.cabecalho_texto_complementar_espaco_h {
    background-color: #550055;
    border-bottom-color: #220022;
    border-bottom-style: solid;
    border-bottom-width: 7px;
}


/* Espaço do texto do título complementar (cor 'Racing') */

.cabecalho_texto_complementar_espaco_r {
    background-color: #ff0000;
    border-bottom-color: #dd0000;
    border-bottom-style: solid;
    border-bottom-width: 7px;
}


/* Espaço do texto do título complementar (cor 'Reads') */

.cabecalho_texto_complementar_espaco_re {
    background-color: #bb6600;
    border-bottom-color: #bb5500;
    border-bottom-style: solid;
    border-bottom-width: 7px;
}


/* Espaço do texto do título complementar (cor 'Studios') */

.cabecalho_texto_complementar_espaco_s {
    background-color: #cc5500;
    border-bottom-color: #cc4400;
    border-bottom-style: solid;
    border-bottom-width: 7px;
}


/* Espaço do texto do título complementar (cor 'Vibes Musics') */

.cabecalho_texto_complementar_espaco_v {
    background-color: #00ff99;
    border-bottom-color: #00dd99;
    border-bottom-style: solid;
    border-bottom-width: 7px;
}


/* Espaço do texto do título complementar (cor 'Fale Conosco') */

.cabecalho_texto_complementar_espaco_f_c {
    background-color: #ffffff;
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 7px;
}


/* Espaço do logo do título complementar */

.cabecalho_texto_complementar_espaco__logo {
    font-family: 'font_Galaxy_Experience';
    font-size: 24px;
    font-weight: 900;
    padding-top: 0.5pc;
    padding-bottom: 0.5pc;
    text-align: center;
}