/* <span class="hnbadge" id="beta">
<span class="hnbadge_status" id="beta-status"></span>
Fase Beta
</span> */

.hnbadge {
  display: inline-block;
  border: darkgray solid 0.1vw;
  border-radius: 1px;
  font-family: "Montserrat-Regular";
  font-weight: 800;
  font-size: 0.6rem;
  padding: 0.4vw 0.4vw;
  text-transform: uppercase;
  margin-left: 0.5vw;
}

.hnbadge_status {
  display: inline-block;
  background-color: black;
  margin-right: 0.2vw;
  height: 8px;
  width: 8px;
}

#aprovado>#aprovado-status {
  background-color: green;
}

#emfila>#emfila-status {
  background-color: goldenrod;
}

#emdesenvolvimento>#emdesenvolvimento-status {
  background-color: grey;
}

#funcionando>#funcionando-status {
  background-color: cadetblue;
}

#epysilon>#epysilon-status {
  background-color: darkorange;
}

#delta>#delta-status {
  background-color: darkred;
}

#gamma>#gamma-status {
  background-color: darkslategrey;
}

#alpha>#alpha-status {
  background-color: darkblue;
}

#beta>#beta-status {
  background-color: darkviolet;
}
