html, body, footer, div, section, article, aside, header, nav, hgroup, figure, figcaption, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

@font-face {
  font-family: "Ahanori-Regular";
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/aharoni/aharoni-bold.ttf);
}

@font-face {
  font-family: "Audiowide-Regular";
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/audiowide/Audiowide-Regular.ttf);
}

@font-face {
  font-family: "Baumans-Regular";
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/baumans/Baumans-Regular.ttf);
}

@font-face {
  font-family: "ChakraPetch-Regular";
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/chakra-petch/Chakra-Petch-Regular.ttf);
}

@font-face {
  font-family: "Exo-Regular";
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/exo/Exo-Regular.ttf);
}

@font-face {
  font-family: "Exo2-Regular";
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/exo-2/Exo2-Regular.ttf);
}

@font-face {
  font-family: "Exo2-Regular";
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/exo-2/Exo2-Regular.ttf);
}

@font-face {
  font-family: "FuturaMd-Regular";
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/futuramd/FuturaMd-BT-Bold.ttf);
}

@font-face {
  font-family: "Heist-Regular";
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/heist/Heist-Regular.ttf);
}

@font-face {
  font-family: "Hexamind-Regular";
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/hexamind/Hexamind.otf);
}

@font-face {
  font-family: "JetbrainsMono-Regular";
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/jetbrains-mono/JetBrains-Mono-Regular-Nerd-Font-Complete.ttf);
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/montserrat/Montserrat-Regular.ttf);
}

:root {
  /* Wtsfy Palette */
  --wertsfy-palette-pantone-2725-c: #685bc7;
  --wertsfy-palette-pantone-2735-c: #2e008b;
  --wertsfy-palette-pantone-2745-c: #280071;
  --wertsfy-palette-pantone-2755-c: #250e62;
  --wertsfy-palette-pantone-2765-c: #201547;
  --wertsfy-palette-pantone-273-c: #24125f;
  --wertsfy-palette-pantone-274-c: #221551;
  --wertsfy-palette-pantone-275-c: #211747;
  --wertsfy-palette-pantone-276-c: #221c35;
  --wertsfy-palette-pantone-3555-c: #512179;
  --wertsfy-palette-pantone-3583-c: #511e84;
  --wertsfy-palette-pantone-3574-c: #5c4580;
  --wertsfy-palette-pantone-3566-c: #472b74;
  --wertsfy-palette-pantone-3535-c: #400186;
  --wertsfy-palette-pantone-3542-c: #31137c;
  --wertsfy-palette-pantone-black-6-c: #101820;
  --wertsfy-palette-pantone-cool-gray-1-xgc: #dcdce6;
  --wertsfy-palette-pantone-7540-xgc: #50545b;
}
