/* Espaço do rodape */

.rodape {
  text-align: center;
  background-color: #000000;
  border-top-width: 14px;
  border-top-color: #22222288;
  border-top-style: solid;
  color: #ffffff;
  margin-top: 5%;
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 98.02vw;
  animation-name: dynamic-end-rod;
  animation-duration: 25000ms;
  animation-delay: 400ms;
  animation-fill-mode: initial;
  animation-iteration-count: infinite;
}

/* Fonte do texto do rodape */

.rodape_texto {
  font-family: 'font_Ubuntu_Regular';
  font-size: 20px;
  margin-top: 0.2%;
}

/* Texto do rodape */

.rodape_copyright {
  padding-top: 1.5%;
}