.card_principal__superior {
  display: inline-block;
  background-color: #cccccc;
  width: 100%;
  margin-bottom: 1%;
  cursor: pointer;
}

.card_principal__superior:hover,
.card_principal__superior:active {
  background-color: #88dd00;
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  transition-duration: 500ms;
  transition-delay: 2ms;
}

.card_principal__superior:active {
  background-color: #88dd00dd;
}
