html, body, footer, div, section, article, aside, header, nav, hgroup, figure, figcaption, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: Ahanori-Regular;
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/aharoni/aharoni-bold.ttf);
}

@font-face {
  font-family: Audiowide-Regular;
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/audiowide/Audiowide-Regular.ttf);
}

@font-face {
  font-family: Baumans-Regular;
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/baumans/Baumans-Regular.ttf);
}

@font-face {
  font-family: ChakraPetch-Regular;
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/chakra-petch/Chakra-Petch-Regular.ttf);
}

@font-face {
  font-family: Exo-Regular;
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/exo/Exo-Regular.ttf);
}

@font-face {
  font-family: Exo2-Regular;
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/exo-2/Exo2-Regular.ttf);
}

@font-face {
  font-family: FuturaMd-Regular;
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/futuramd/FuturaMd-BT-Bold.ttf);
}

@font-face {
  font-family: Heist-Regular;
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/heist/Heist-Regular.ttf);
}

@font-face {
  font-family: Hexamind-Regular;
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/hexamind/Hexamind.otf);
}

@font-face {
  font-family: JetbrainsMono-Regular;
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/jetbrains-mono/JetBrains-Mono-Regular-Nerd-Font-Complete.ttf);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(https://www.draftnecttiondata.humbanew.com.br/devsrcs/fontes/montserrat/Montserrat-Regular.ttf);
}

/* tamanhos de tela media screen */
  /* dispositivo movel p - 320px */
  @media screen and (max-width: 320px) {}
  /* dispositivo movel m - 375px */
  @media screen and (max-width: 375px) {}
  /* dispositivo movel g - 425px */
  @media screen and (max-width: 425px) {}
  /* dispositivo tablet - 720px */
  @media screen and (max-width: 720px) {}
  /* dispositivo laptop - 1024px */
  @media screen and (max-width: 1024px) {}
  /* dispositivo tela hd - 1280px */
  @media screen and (max-width: 1280px) {}
  /* dispositivo laptop g - 1440px */
  @media screen and (max-width: 1440px) {}
  /* dispositivo tela full hd - 1920px */
  @media screen and (max-width: 1920px) {}
  /* dispositivo tela 2k - 2048px */
  @media screen and (max-width: 2048px) {}
  /* dispositivo tela 4k - 2560px */
  @media screen and (max-width: 2560px) {}
  /* dispositivo tela 4k uhd - 3840px */
  @media screen and (max-width: 3840px) {}
  /* dispositivo tela 5k uhd plus - 5120px */
  @media screen and (max-width: 5120px) {}
  /* dispositivo tela 8k uhd - 7680px */
  @media screen and (max-width: 7680px) {}
  /* dispositivo tela 10k uhd - 10240px */
  @media screen and (max-width: 10240px) {}
  /* dispositivo tela 16k uhd - 15360px */
  @media screen and (max-width: 15360px) {}
