.covencionais_soma {
  display: none;
}

.covencionais_span {
  font-family: 'font_Ubuntu_Light';
  font-size: 22px;
  font-weight: 300;
  display: inline-block;
  background-color: #0066ff;
  margin-left: 3vw;
  margin-top: 1vw;
  padding: 0.5vw 1vw;
  width: 88%;
  font-weight: 700;
  font-display: auto;
  color: #ffffff;
  text-align: justify;
  border-radius: 2px;
  line-height: 140%;
  text-indent: 1%;
}

.covencionais_input {
  display: inline-block;
  font-family: 'font_Ubuntu_Light';
  background-color: #000000;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  color: #ffffff;
  width: 98%;
  height: 3vw;
  font-size: 33px;
  margin-left: 0.6%;
}

.covencionais_div {
  display: inline-block;
  background-color: #00ff44;
  width: 90%;
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.covencionais_paragraph {
  font-family: 'font_Ubuntu_Light';
  font-size: 30px;
  color: #ffffff;
  margin-top: 0%;
  margin-bottom: 1vw;
  margin-left: 2vw;
}

.covencionais_paragraph__parciais {
  font-family: 'font_Ubuntu_Light';
  font-size: 26px;
  font-weight: 900;
  color: #ffffff;
  margin-top: -2%;
  margin-bottom: 1vw;
  margin-left: 2vw;
}

.covencionais_paragraph__restantes {
  font-family: 'font_Ubuntu_Light';
  font-size: 26px;
  font-weight: 900;
  color: #ffffff;
  margin-top: calc(-3.5% + 0.4%);
  margin-bottom: 1vw;
  margin-left: 30vw;
}

.covencionais_botao__uso {
  cursor: pointer;
  font-family: 'font_Ubuntu_Light';
  font-size: 22px;
  background-color: #000000;
  color: #ffffff;
  border-bottom: solid 5px #333333;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  margin-left: 1vw;
}

/* Funcionalidade de Soma */

#coven_btn_somar_1 {
  margin-left: 76.5%;
}

#coven_btn_somar_1:hover {
  border-bottom-color: #ffff00;
  transition: ease-out;
  transition-duration: 200ms;
}

#coven_btn_finalizar:hover {
  border-bottom-color: #005500;
  transition: ease-out;
  transition-duration: 200ms;
}

#coven_btn_limpar:hover {
  border-bottom-color: #000077;
  transition: ease-out;
  transition-duration: 200ms;
}

/* Funcionalidade de Subtração */

#coven_btn_v_inicial {
  margin-left: 64%;
}

#coven_btn_v_inicial:hover {
  border-bottom-color: #000077;
  transition: ease-out;
  transition-duration: 200ms;
}

#coven_btn_subtrair_1:hover {
  border-bottom-color: #ffff00;
  transition: ease-out;
  transition-duration: 200ms;
}

#coven_btn_finalizar_1:hover {
  border-bottom-color: #005500;
  transition: ease-out;
  transition-duration: 200ms;
}