.card_conver_math_an_p__superior,
.card_conver_math_an_p__superior___spart {
  display: inline-block;
  background-color: #000000f4;
  width: 100%;
  margin-bottom: 1%;
}

.card_conver_math_an_p__superior___spart {
  background-color: #000000;
}

.card_conver_math_an_p__superior:hover {
  background-color: #f0dd99f4;
  color: #000000;
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  transition-duration: 500ms;
  transition-delay: 2ms;
}

.card_conver_math_an_p__superior:active {
  background-color: #f08899f4;
  color: #000000;
}

.card_conver_math_an_p__superior___spart:hover {
  background-color: #f0dd99;
  color: #000000;
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  transition-duration: 500ms;
  transition-delay: 2ms;
}

.card_conver_math_an_p__superior___spart:active {
  background-color: #f08899;
  color: #000000;
}