.card_conver_tech_comp__superior {
  display: inline-block;
  background-color: #000000;
  width: 100%;
  margin-bottom: 1%;
  cursor: pointer;
}

.card_conver_tech_comp__superior:hover {
  background-color: #ffaa22;
  color: #000000;
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  transition-duration: 500ms;
  transition-delay: 2ms;
}

.card_conver_tech_comp__superior:active {
  background-color: #ff6622;
  color: #000000;
}