.card_conver_physics_forca__inferior {
  display: inline-block;
  background-color: #134911f4;
  width: 45.5%;
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  cursor: pointer;
}

.card_conver_physics_forca__inferior___spart {
  display: inline-block;
  background-color: #134911;
  width: 45.5%;
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.card_conver_physics_forca__inferior:hover,
.card_conver_physics_forca__inferior___spart:hover {
  background-color: #000000;
  color: #ffffff;
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  transition-duration: 500ms;
  transition-delay: 2ms;
}

.card_conver_physics_forca__inferior:active,
.card_conver_physics_forca__inferior___spart:active {
  background-color: #222222;
  color: #ffffff;
}