/node_modules/

# releases folders
/exports/@1.0.0/node_modules/
/exports/@1.0.1/node_modules/
/exports/@1.0.2/node_modules/
/exports/@1.0.3/node_modules/
/exports/@1.0.4/node_modules/
/exports/@1.0.5/node_modules/
